<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" name="Dev">
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="[%-5level] %date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-40.40class{1.}: %message%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="CONSOLE"/>
        </Root>
    </Loggers>
</Configuration>
